@charset "utf-8";
/*
.icon-preview div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    width: 120px;
}

.icon-preview span {
    color: var(--rz-text-disabled-color);
    font-size: 0.75rem;
}*/